/* src/components/CertificatesAndEducation.module.css */
.container {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 1200px; /* Genişliği artır */
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
  text-align: center;
}

.certificationList {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* 3 sütun yap */
  gap: 1.5rem; /* Sertifikalar arasında boşluk */
  list-style: none;
  padding: 0;
}

.certificationItem {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 6px;
  border-left: 4px solid #007bff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.certTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #0056b3;
}

.institution {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.date {
  font-style: italic;
  color: #777;
}

.description {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.5;
}

.pdfLink {
  margin: 1rem 0;
  color: #007bff;
  text-decoration: none; /* Altı çizgiyi kaldır */
  padding: 0.5rem 1rem; /* İç boşluk ekle */
  border: 1px solid #007bff; /* Kenar çizgisi ekle */
  border-radius: 4px; /* Kenarları yuvarla */
  transition: background-color 0.3s, color 0.3s; /* Geçiş efekti ekle */
}

.pdfLink:hover {
  background-color: #007bff; /* Üzerine gelindiğinde arka plan rengi değişir */
  color: white; /* Üzerine gelindiğinde metin rengi değişir */
}

.pdfViewer {
  margin-top: 20px;
  text-align: center;
  border: 1px solid #ccc; /* PDF görüntüleyici için kenar çizgisi */
  border-radius: 8px; /* Yuvarlak köşeler */
  padding: 1rem; /* İç boşluk ekle */
  background-color: #fff; /* Arka plan rengi */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Gölge efekti ekle */
}

canvas {
  border: 1px solid #ccc;
  margin: auto;
  display: block;
  max-width: 100%; /* Canvas boyutunu sınırlamak için */
  height: auto; /* Yükseklik otomatik */
}

/* Responsive medya sorguları */
@media (max-width: 768px) {
  .certificationList {
    grid-template-columns: 1fr; /* Küçük ekranlar için tek sütun */
  }
}
