.desc {
  background-color: #d4d4d4; /* Arka plan rengi */
  min-height: 100vh; /* Ekran yüksekliğini tam kapla */
  place-items: center;
  padding: 2rem;
}
@media (max-width: 768px) {
  .desc {
    padding: 10px;
  }
}
