/* Footer ana kapsayıcı stil */
.footer {
  display: flex;
  justify-content: space-between; /* İçeriği yatayda dağıtmak için */
  align-items: center; /* Dikeyde hizalama */
  padding: 20px;
  background-color: #2c2c2c; /* Arka plan rengi */
  color: #d4d4d4; /* Metin rengi */
}

/* İkonları barındıran kapsayıcı stil */
.icons {
  display: flex;
  gap: 15px; /* İkonlar arasındaki boşluk */
}

/* İkonlar için bireysel stil */
.icons :global(svg) {
  transition: color 0.3s; /* Renk değişimi geçiş efekti */
}

.icons :global(svg):hover {
  color: #d2d2d2; /* Hover durumunda ikon rengi */
}
