.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* İki sütun oluştur */
  gap: 10px; /* İki sütun arasındaki boşluk */
  align-items: center; /* İçeriği dikeyde ortala */
  justify-items: center; /* İçeriği yatayda ortala */
  height: 100%;
  background-color: #f4f4f4;
  height: 100vh;
}

.context {
  margin-left: 4rem;
}

.btnGroup {
  display: flex;
  gap: 1rem;
  justify-content: start;
  margin-top: 2rem;
  margin-left: 0.5rem;
}

.btnGroup a {
  text-decoration: none; /* Alt çizgiyi kaldırır */
  color: #fff;
  background-color: #007bff; /* Buton rengi */
  padding: 0.75rem 1.5rem; /* Buton içi boşluk */
  border-radius: 4px; /* Köşe yuvarlama */
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Geçiş efektleri */
}

.btnGroup a:hover {
  background-color: #0056b3; /* Hover durumunda buton rengi */
  transform: translateY(-2px); /* Hover durumunda hafif hareket */
}

.image {
  margin-top: 2rem;
}

.image img {
  width: 15rem; /* Resim genişliği */
  height: auto; /* Oranları koruyarak yükseklik ayarla */
  border-radius: 50%; /* Yuvarlak köşeler */
  border: 2px solid #ddd; /* Çerçeve rengi */
}
