.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #f4f4f4;
  flex-wrap: wrap; /* İçeriği sarar ve alan dolduğunda aşağıya kaydırır */
}

.logo {
  width: 60px; /* Adjust as needed */
  height: auto;
  transition: transform 0.3s ease-in-out; /* Adding transition for smooth animation */
}

.logo:hover {
  transform: scale(1.4); /* Scale the logo to 110% on hover */
}
.menuButton {
  display: none; /* Başlangıçta gizli */
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.menu.open {
  display: flex; /* Açıldığında menü görünür */
  flex-direction: column; /* Dikey düzen */
  width: 100%; /* Tam genişlik alır */
  padding: 1rem 0; /* İçerik aralığı */
}

/* Linkler için stil */
ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #007bff;
}

/* Küçük ekranlar için medya sorgusu */
@media (max-width: 768px) {
  .menu {
    display: none; /* Menü gizle */
    flex-direction: row; /* Dikey düzen */
    width: 100%; /* Tam genişlik alır */
    padding: 1rem 0; /* İçerik aralığı */
  }

  .menu.open {
    display: flex; /* Açıldığında menü görünür */
    align-items: center;
    justify-content: center;
  }

  .menuButton {
    display: flex; /* Küçük ekranlarda göster */
    align-items: center;
    justify-content: center;
  }

  .nav {
    flex-direction: row; /* Navbarı dikey olarak hizala */
    align-items: flex-start; /* Menü butonunu sola hizala */
  }
}
