.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #f4f4f4;
  flex-wrap: wrap;
}

.logo {
  width: 60px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.4);
}
.menuButton {
  display: none; /* Başlangıçta gizli */
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.menu.open {
  display: flex; /* Açıldığında menü görünür */
  flex-direction: column;
  width: 100%;
  padding: 1rem 0;
}

/* Linkler için stil */
ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #007bff;
}

/* Küçük ekranlar için medya sorgusu */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: row;
    width: 100%;
    padding: 1rem 0;
  }

  .menu.open {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav {
    flex-direction: row;
    align-items: flex-start;
  }
}
