.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  padding: 1rem 2rem;
  border-bottom: 1px solid #928c8cc5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem; /* Menü elemanları arasındaki boşluk */
}

.nav li {
  display: flex;
  align-items: center;
}

.nav a {
  text-decoration: none; /* Alt çizgiyi kaldır */
  color: #333; /* Varsayılan yazı rengi */
  font-weight: 500;
  transition: color 0.3s ease, border-bottom 0.3s ease; /* Renk ve alt çizgi geçişi */
  padding-bottom: 2px; /* Alt çizgi efekti için boşluk */
  border-bottom: 2px solid transparent; /* Alt çizgi başlangıçta görünmez */
}

.nav a:hover {
  color: #007bff; /* Hover durumunda yazı rengi */
  border-bottom: 2px solid #007bff; /* Hover durumunda alt çizgi */
}
