.projectsContainer {
  padding: 20px;
  background-color: #f0f0f5; /* Hafif bir arka plan rengi */
}

.projectsList {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Esnek grid düzeni */
  gap: 20px; /* Projeler arasındaki boşluk */
  list-style: none; /* Liste stili kaldırıldı */
  padding: 0;
  margin: 0;
}

.projectItem {
  display: flex;
  justify-content: center; /* Kartların ortalanmasını sağlar */
}
