.skillsContainer {
  padding: 20px;
  background-color: #c6c6c6;
  border-radius: 25px;
}

.skillsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skillItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .skillsList {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 480px) {
  .skillsList {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
