/* Skill.module.css */
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 280px;
  margin: 15px;
  padding: 15px;
  /* Flexbox özelliği ile daha iyi hizalama */
}

.skill:hover {
  transform: translateY(-10px); /* Hover'da hafif yukarı kaldırır */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Hover'da gölgeyi artırır */
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px; /* İkon yüksekliği */
  margin-bottom: 1rem; /* İkon ile diğer içerik arasına boşluk */
}

.icon {
  font-size: 4rem; /* İkon boyutu */
  color: #007bff; /* İkon rengi */
}

h3 {
  margin: 10px 0;
  font-size: 1.25rem;
  color: #333;
}

p {
  margin: 0;
  padding: 0 10px;
  color: #666;
  font-size: 0.9rem;
  line-height: 1.4;
  text-align: left;
}

/* Responsive düzenlemeler */
@media (max-width: 768px) {
  .skill {
    max-width: 100%; /* Küçük ekranlarda tam genişlik */
    margin: 10px 0; /* Yüksekliği azalt */
    padding: 10px; /* Padding'i azalt */
  }

  .icon {
    font-size: 3rem; /* Küçük ekranlarda ikon boyutunu küçült */
  }

  h3 {
    font-size: 1.1rem; /* Başlık boyutunu azalt */
  }

  p {
    font-size: 0.8rem; /* Metin boyutunu azalt */
  }
}

@media (max-width: 480px) {
  .skill {
    margin: 5px 0; /* Çok küçük ekranlarda daha küçük boşluk */
    padding: 5px; /* Padding'i daha da azalt */
  }

  .icon {
    font-size: 2.5rem; /* Çok küçük ekranlarda ikon boyutunu küçült */
  }

  h3 {
    font-size: 1rem; /* Başlık boyutunu daha da azalt */
  }

  p {
    font-size: 0.7rem; /* Metin boyutunu daha da küçült */
  }
}
