.skillsContainer {
  padding: 20px;
  background-color: #c6c6c6;
  border-radius: 25px;
  width: 100%; /* Tüm genişliği kaplasın */
}

.skillsList {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(280px, 1fr)
  ); /* Grid yapısı */
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skillItem {
  justify-content: center;
  align-items: center;
  text-align: center; /* Ortalamak için text align ekleyelim */
}

@media (max-width: 768px) {
  .skillsList {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 480px) {
  .skillsList {
    grid-template-columns: repeat(
      auto-fill,
      minmax(180px, 1fr)
    ); /* Daha küçük değer */
  }
}
